h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 30;
    color: blueviolet;
    background-color: beige;
    height: 90px;
    align-items: center;    
    padding-top: 30px;

}
h2{
    font-family: georgia;
    height: 40px;
    padding-top: 15px;
}
ul{
    padding: 0px;
    margin: 0px;
}
ul li{
    padding-top: 10px;
    margin-top: 50px;
    color: black;
    display: inline-flex;
    flex: 1;
    justify-content: center;
    background-color: rgb(207, 167, 244);
    min-width: 340px;
    height: 30px;
    margin-left: 20px;

}
a{
    text-decoration: none;
    color:black;
    font-family: system-ui;
}
a:hover{
    color: aliceblue;
}
a:active{
    font-weight: 200;
}
.slider {
    margin-left: 30px;
    margin-right: 20px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-width: 8px solid #b50f0f;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 50%;
}

.slide img {
    margin-left: 30px;
    width: 90%;
    height: 45%;
}
@keyframes slide {
    0% {transform : translate(0%);}
    33% { transform: translateX(-50%); }
    66% { transform: translateX(-200%); }

}